body {
	margin-top: 20px;
	background-color: lightgray;
}

.container {
}

.btn-success {
	margin: 5px;
}

#gifsTitle {
	font-size: 20px;
	font-weight: bold;
	visibility: hidden;
}

.gifs img{
	margin-bottom: 20px;

}

#buttonInput {
	float:left;
}

#qtyInput {
	float: right;
}
