body {
	margin-top: 20px;
	background-color: lightgray;
	margin: 20px;
}

#entryInfo div{
	margin-bottom: 10px;
}

.btn-success {
	margin: 5px;
}

#gifsTitle {
	font-size: 20px;
	font-weight: bold;
	visibility: hidden;
}

.gifCatalog img{
	margin-bottom: 0px;

}

#buttonInput {
	float:left;
}

#qtyInput {
	float: right;
}

.caption {
	background-color: #dff0d8;
	color: #5f8847;
	font-size:14px;
	font-weight: bolder;
	padding-bottom:10px;
	padding: 0px;
	text-align: center;
}

